$base-color: #FFFCF5;
$second-base-color: #50545F; 
$grey: #7D7D7D;
$light-grey: #AFABA0;
$text: #707070;

$breakpoint-mobile: 600px;


// GLOBAL STYLES
html{
    background-color: $base-color;
}

body{
    margin: 0;
}

// DESKTOP STYLES
@media (min-width: $breakpoint-mobile){
    
    #menu-collapsed{
        transition: all .25s;
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 10vh;
    }

    #div-toggle-menu{
        display: none;
    }
    .menu-text{
        display: none;
    }

    #menu-collapsed{
    ul{
    display: flex;
    width: 30vw;
    padding: 0;
    justify-content: space-around;
    }
}
}

// MOBILE STYLES
@media (max-width: $breakpoint-mobile){

    #div-toggle-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 9vh;
        align-items: center;
        p{
            margin: 0;
            text-align: center;
            font-family: 'ubuntu';
            font-size: 18px;
            font-weight: 400;
            color: $text;
        }
    }

    #menu-collapsed{
            transition: all .25s;
            display: flex;
            flex-direction: column;
            position: fixed;
            left: -9000px;
    }
    .menu-expanded{
        transition: all .25s;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        background-color: $second-base-color;
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0px !important;
        top: 0;
        list-style-type: none;
        height: 60vh;
        padding-top: 40vh;
        ul{ 
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            a{
                text-decoration: none;
            }

            li{
                font-family: 'ubuntu';
                font-weight: 400;
                font-size: 30px;
                color: $light-grey;
                list-style-type: none;
            }
        }

        .menu-text{
            height: 20vh;
            padding: 40px;
            p{
                font-family: 'ubuntu';
                font-weight: 300;
                font-size: 18px;
                font-style: italic;
                color: $light-grey;
            }
        }
    }

    body{

        section{
            padding-left: 20px;
            padding-right: 20px;

            h2{
                font-family: 'ubuntu';
                font-size: 24px;
                font-weight: 600;
                color: $text;
            }

            p{
                font-family: 'ubuntu';
                font-size: 18px;
                font-weight: 400;
                color: $text;
            }
        }

        .flip-card{
            display: flex;
            width: 100vw;
            height: 70vh;
            justify-content: center;
            align-items: flex-end;
            p{
                text-align: center;
                width: 80vw;
            }
            .scene {
              width: 80vw;
              height: 260px;
              margin: 40px 0;
              perspective: 600px;
              .card {
                  width: 100%;
                  height: 100%;
                  transition: transform 1s;
                  transform-style: preserve-3d;
                  cursor: pointer;
                  position: relative;
                  color: #50545F;
            
                  .card__face {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    color: $text;
                    text-align: center;
                    font-family: 'ubuntu';
                    font-weight: 400;
                    font-size: 18px;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                  }
            
                  .card__face--back {
                  transform: rotateY(180deg);
                }
              }
              .card.is-flipped {
                transform: rotateY(180deg);
              }
            }
        }

        .div-arrow{
            width: 100vw;
            display: flex;
            justify-content: center;
            #fleche{
                width: 50px;
                height: 50px;
                opacity: 0.5;
                animation-name: floating;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
                margin-left: 30px;
                margin-top: 5px;
            }
            @keyframes floating {
                from { transform: translate(0,  0px); }
                65%  { transform: translate(0, 15px); }
                to   { transform: translate(0, -0px); }    
            }
            
        }
        
        #projets{

            .projet-intro{
                margin-bottom: 4vh;
            }

            .projet-container{
                width: 90vw;
                height: 34vh;
                overflow: hidden;

                .projet-slides{
                    height: 10vh;
                    width: 90%;
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    overflow: scroll;

                    img{
                        margin: 0px 5px 0px 5px;
                        width: 100%;
                    }
                }
            }
            .projet-description{
                margin-top: 15vh;

            }
        }
    }
}